<!DOCTYPE html>
<html lang="en">
<head>
  <title>YouTube ClickBait Detection{% block title %}{% endblock title %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
<h1>YouTube ClickBait Detection</h1>
<h3>CS-GY 6513 Final Project</h3>
<h4>Spring 2024</h4>
<h4>Jayanth Rao, Joshua Jayapal, Sriram Bulusu</h4>
<section>
  <header>
    {% block header %}{% endblock header %}
  </header>
  <main>
    <div class="container">
        {% block content %}
        <form action="/detection" method="POST">
            <input input type="url" name="youtube-url" id="youtube-url" placeholder="Enter YouTube URL here" required>
            <button type="submit">Submit</button>
        </form>
        {% endblock content %}
    </div>
  </main>
</section>
</body>
</html>